
.mainContainer{
  z-index: 1;
  position: absolute;
  width: 80%;
  height: 73%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.mainDiv {
  width: 70%;
  height: 80%;
  display: flex;
  flex-direction: column;
  background-color: #E9EAEB;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.header {
  height: 20%;
}

.mainSection {
  height: 80%;
  display: flex;
}

.section1 {
  width: 50%;
  height: 100%;
}

.section2 {
  width: 50%;
  height: 100%;
}