.claro {
  background: url('../util/Images/background-dia-claro.png');
  height: 100vh;
  z-index: -9999;
  transition: 0.5s;
}

.escuro {
  background: url('../util/Images/background-dia-escuro.png');
  height: 100vh;
  z-index: -9999;
  transition: 0.5s;
}