.h2Hide {
  display: none;
}

.mainContainer{
  z-index: 1;
  position: absolute;
  width: 80%;
  height: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 9%;
}

@media screen and (max-width: 850px) {
  .mainContainer{
    left: 10%;
    margin-top: 40%;
    img {
      width: 100%;
    }
  }
}

@media (max-height: 700px) and (min-width: 850) {
  .mainContainer{
    margin-top: 50%;
  }
}

@media (max-height: 500px) {
  .mainContainer{
    height: 100vh;
    margin-top: 50px;
  }
}


