.menuContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 80px;
  overflow-y: auto;
  
  button {
    width: 70%;
    padding: 20px;
    margin: 20px;
    cursor: pointer;
    border-radius: 20px;
    position: relative;
    z-index: 1000;
  }
}


@media (max-height: 500px) {
  .mainContainer{
    button {
      margin: 10px;
      height: 100vh;
    }
  }
}

