.footer {
  background: url('../util/Images/FooterBackground.png');
  height: 500px;
  bottom: 0;
  color: RED;
  position: absolute;
  z-index: 9999;
  width: 100vw;
}

.dixieF {
  height: 100px;
  position: relative;
  top: 285px;
  left: 74%; /*74 a 90*/
  transition: 7s;
}

.dixieB {
  height: 100px;
  position: relative;
  top: 300px;
  left: 90%; /*68 a 85*/
  transition: 7s;
}