.footer {
  background: url('../util/Images/testeNew.png');
  height: 250px;
  bottom: 0;
  position: absolute;
  z-index: 9999;
  width: 100vw;
}


.dixieF {
  height: 100px;
  position: relative;
  bottom: -100px;
  left: 74%; /*74 a 90*/
  transition: 7s;
}

.dixieB {
  height: 100px;
  position: relative;
  top: 5px;
  left: 90%; /*68 a 85*/
  transition: 7s;
}