* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  // scroll-behavior: none;
  // overflow-y: auto;
}

.routeContainer {
  height: 100%;
  width: 84%;
  margin-left: auto;
}

.claro {
  background: url('./util/Images/background-dia-claro.png');
  height: 100vh;
  z-index: -9999;
  transition: 0.5s;
  display: flex;
  flex-direction: column;
}


.escuro {
  background: url('./util/Images/background-dia-escuro.png');
  height: 100vh;
  z-index: -9999;
  transition: 0.5s;
  display: flex;
  flex-direction: column;
}

.divs {
  height: 80%;
  display: flex;
}

.menuIcon {
  position: absolute;
  right: 10px;
  top: 10px;
  opacity: 0;
  cursor: auto;
  // z-index: 9999;
}

@media screen and (max-width: 850px) {
  .menuIcon {
    opacity: 1;
    cursor: pointer;
  }
}

@media (max-height: 500px) {
  .claro {
    height: 700px;
  }

  .escuro {
    height: 700px;
    overflow-y: scroll;
  }
}

@media (max-height: 800px) {
  .claro {
    height: 900px;
  }

  .escuro {
    height: 900px;
    overflow-y: scroll;
  }
}

